@media print {
  @page {
    margin: 0.5cm;
    size: A4;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
    color: black !important;
  }

  .print-hidden {
    display: none !important;
  }

  a {
    text-decoration: none !important;
    color: #0066cc !important;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #000000 !important;
    break-after: avoid;
  }

  ul,
  ol,
  dl {
    break-before: avoid;
  }

  img {
    display: block;
    max-width: 100%;
    page-break-inside: avoid;
  }
}
